.Weather {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(32, 70, 42);
  border: 2px solid #504e4e;
  padding: 20px;
  border-radius: 3px;
  background-color: rgb(207, 239, 228, 0.4);
}

.Weather h1 {
  font-size: 28px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 20x;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(62, 122, 69);
  font-size: 60px;
  line-height: 70px;
  margin-left: 8px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: rgb(62, 122, 69);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -30px;
}

.Weather .col-3{
  color: black;
}

